.navbar-brand{
	color: black;
	size: 100px;
	

		}

.sections-menu{
	position: relative;
	top: 100px;
	
}
.sections-menu div{
	height: 400px;
	width: 100%;
	border: 5px solid red;
}
.navbar{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3;
	width: 100%;
}
html{
	scroll-behavior: smooth; }